<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>About page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<nav th:insert="fragments/navbar ::navbar_fragment"></nav>
<header>
    <h1>About Us</h1>
    <p>some text</p>
<p>Resize the browser window to see that this page is responsive by the way.</p>
</header>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/images/pic1.png" alt="Aman">
            <div class="container">
                <h2>Aman A</h2>
                <p class="title">System Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>aman@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/images/pic.png" alt="Adam" style="width:100%">
            <div class="container">
                <h2>Adam Svensson</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>adam@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer_fragment"></footer>

</body>
</html>